<h3>Create a new artist!</h3>
<form action="/artists" method=POST>
  <label for="artist_name">Name</label>
  <input type="text" name="name" id="artist_name"><br>
  <label for="artist_town">Town</label>
  <input type="text" name="town" id="artist_town"><br>
  <input type="submit" value="Create Artist!" id="Submit">
</form>
